// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style
.wrapper
  text-shadow 0.01em 0.01em 0.01em #999999

.post-comment
  padding-top 5em

img.upyun-logo,
img.linode-logo
  height 20px

.footer
  height 4rem
