<footer id="footer" class="footer">
    <div class="copyright">
        <span>
            &copy; 2015-2022 <%= config.author %> | Elegant theme by Chic | <a href="https://stats.uptimerobot.com/J8kXJc8qlg" target="_blank">Status</a>
            <br>
            <a href="https://www.linode.com/?r=09a3680475a413ec471c3b123642975cd2ef3caf" title="Linode" target="_blank">
                <img src="https://cdn.reorz.com/images/2021/10/Linode-Logo.png" alt="Linode" class="linode-logo">
            </a>
            <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" title="又拍云" target="_blank">
                <img src="https://cdn.reorz.com/images/2017/02/UPYUN-Logo.png" alt="UPYUN" class="upyun-logo">
            </a>
        </span>
    </div>
</footer>
